

.container-fluid{
    display: flex;
    flex-direction: row;
}

.header {
    display: flex;
    flex-direction: row;
    color:#FFFFFF;
    margin-top: 10px;
    padding-right: 21px;
}

.header p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 44px;
}

.header img {
    width: 12px; 
    height: 12px;
    margin-top: 11px;
    margin-left: 10px;
}

.content {
    padding: 18px;
    
    background-color: #F4F4F4;
}

.topo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
@media screen and (max-width:615px) {
    .topo {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
}

.conteudo-esq{
    display: flex;
    flex-direction: column;
}

.titulo{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 44px;
    color: rgba(0, 0, 0, 0.87);
}

.subtitulo {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 44px;
    color: rgba(0, 0, 0, 0.87);
}

.quant-itens {
    font-family: 'Circular Std';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: rgba(0, 0, 0, 0.6);
}
.pesquisa {
    width: 257px;
    height: 40px;
}

.buscar {
    border-right: none;
}

.search{
    border-left: none;
    background-color: #FFFfff;
    border: 1px solid #ced4da;
}

.conteudo-pokemon {
    border-top: 1px solid #BDBDBD;
    border-bottom: 1px solid #BDBDBD;
    display: flex;
    flex-direction: row;
    
}
.conteudo-pokemon span {
    font-family: 'Circular Std';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
}

@media screen and (max-width: 615px){
    .conteudo-pokemon {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 0 auto;
        padding: 15px;
        width: 214px;
        
    
    }
}

.imagem {
    display: flex;
    flex-direction: row;
    padding-right: 15px;
}

.imagem img {
    width: 98px;
    height: 96px;
    margin-top: 17px;
    border: 1px solid #565656;
    border-radius: 10px;
}

@media screen and (max-Width:615px) {
    .imagem img {
        width: 214px;
        height: 210px;
        
    }
}



.texto {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.texto span {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: rgba(0, 0, 0, 0.87);
}

@media screen and (max-width:615px) {
    .texto span {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
        color: rgba(0, 0, 0, 0.87);
        margin-left: 72px;
    }
}

.texto p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #565656;
}

@media screen and (max-width:615px) {
    .texto p {
        display: flex;
        flex-direction: column;
        margin-top: 17px;
        width: 400px;
        margin-left: -87px;
    }
}

.imagem span {
    margin-left: 15px;
   
}

.page-link {
    border: none;
    color: rgba(0, 0, 0, 0.6);
}

.paginacao {
    display: flex; 
    justify-content: end;
    font-family: 'Circular Std';
    font-style: normal;
    font-weight: 450;
    font-size: 14px;
    line-height: 24px;
}
.pagina {
    font-family: 'Circular Std';
    font-style: normal;
    font-weight: 450;
    font-size: 14px;
    line-height: 24px;
    margin-top: 4px;
}
@media screen and (max-width:615px) {
    .paginacao {
        display: flex; 
        justify-content:center;
        font-family: 'Circular Std';
        font-style: normal;
        font-weight: 450;
        font-size: 14px;
        line-height: 24px;
        background-color: #E5E5E5;;
    }
    
}




